@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/gotham/SVN-Gotham.woff");
}

@font-face {
  font-family: "Averta-Regular";
  src: url("../public/fonts/Averta/Regular/AvertaCY-Regular.woff");
}



html,
body {
  font-family: "Averta-Regular", "Roboto";
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* body {
  font-size: 1rem;
} */

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.2);
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

nav {
  /* background-color: #232f3e; */
  background-color: #f3f4f6;
  padding: 1rem 1rem;
}

.navbar {
  padding: 0.1rem 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

#search_btn {
  /* background-color: #febd69; */
  background-color: #69544a;
}

.input-group {
  width: 90%;
  margin-right: 35%;
}

.Btn {
  background-color: #69544a;
  color: white;
}
.Btn:hover {
  background-color: #e0e9f0;
  color: #392a27;
}
.Btn:active {
  transform: scale(0.95);
}
.Btn.focus,
.Btn:focus {
  outline: 5px;
  box-shadow: none;
}

.Btn icon {
  color: white;
}

/* Slider */


.w3-content{margin-left:auto;margin-right:auto}  /* canh giữa */
/* .w3-content{max-width:980px} */
.w3-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.w3-auto{max-width:1140px}
.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block} /* hiện các nút điều hướng khi di chuột qua slider */
.w3-center{text-align:center!important} /* vị trí nút slider ở giữa */
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important} /* màu trắng cho mũi tên */
.w3-large{font-size:1.5em!important} /* kích thước mũi tên slider */
/* .w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before, */
.w3-container,.w3-panel{padding:0.01em 16px} /* đưa 2 nút mũi tên vào trong hình */
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)} /* dịch mũi tên và nút tròn từ dưới ngoài hình lên dưới trong hình */
.w3-left{float:left!important}.w3-right{float:right!important} /* 2 mũi tên sát nhau giữa -> 2 bên */
.w3-hover-text-khaki:hover{color:#b4aa50!important}


.w3-badge {
  display: inline-block;
  height: 13px;
  width: 13px;
  padding: 0;
  background-color: #fff;
  color: #fff;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  float: center;
  margin-right: 5px;
}

/* CSS cho hiệu ứng hover */
.w3-badge:hover {
  background-color: #b4aa50; /* Thay đổi màu nền khi di chuột qua */
}

/* CSS cho hiệu ứng active */
.w3-badge:active {
  background-color: #000; /* Thay đổi màu nền khi nhấn chuột */
}

.w3-badge:focus {
  background-color: blue; /* Thay đổi màu nền khi nhấn chuột */
}

.w3-badge.active {
  background-color: black;
}

/* Youtube iframe */

.centered-iframe {
  position: relative; /* để iframe định vị tương đối so với nó */
  width: 100%; /* Chiều rộng bằng ..% chiều rộng của viewport */
  padding-top: 56.25%; /* 0.5625: Tỉ lệ 16:9 ứng với video */
  overflow: hidden; /* cắt bỏ nội dung vượt qua kích thước đã định */
}



.centered-iframe iframe {
  position: absolute;
  top: 0; /* trên cùng */
  left: 0; /* bên trái */
  width: 100%; /* cho iframe chiếm toàn bộ không gian */
  height: 80%; /* chiều cao của iframe chiếm 80% không gian */
}

.centered-container {
  display: flex;
  justify-content: center; /* canh giữa theo chiều ngang */
}



/* Search bar */
#search_field {
  height: 2.4rem;
  padding: 1rem;
}

#login_btn {
  background-color: #69544a;
  padding: 0.4rem 1.8rem;
  color: white;
  font-size: 0.8rem;
}

#view_btn,
#new_review_btn {
  background-color: #fa9c23;
  padding: 0.4rem 1.8rem;
  color: black;
}

#cart {
  /* background-color: #e0e9f0; */
  font-size: 0.9rem;
  color: black;
}

.cart-icon {
 color: #392a27;
 margin-right: -15px; /* Cho icon sát vào chữ "Giỏ hàng" */
}

#cart_count {
  /* background-color: #febd69; */
  background-color: #e0e9f0;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: #392a27;
  font-weight: bold;
  font-size: 0.8rem;
}

/* Home page */

.container-no-padding {
  padding-left: 0;
  padding-right: 0;
}

#products_heading {
  margin-top: 1.8rem;
}

.card {
  height: 100%;
}

.card-title a {
  color: #2e2e2e;
  text-decoration: none;
  font-size: 1.2rem;
}

.card-title a:hover {
  color: #fa9c23;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
  padding-right: 0;
}
/* Homepage price */
.card-text {
  font-size: 1.4rem;
}

.card-img-top {
  /* width: 200px;
  height: 150px; */
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}

#no_of_reviews {
  font-size: 0.9rem;
  color: grey;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Footer */
footer {
  margin-top: auto;
  color: grey;
  bottom: 0;
  width: 100%;
}

/* Product Details Page */
#product_id {
  color: grey;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  background-color: #fa9c23;
  border: none;
  padding: 0.5rem 2rem;
}

#product_seller {
  color: grey;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: red !important;
}

.greenColor {
  color: green !important;
}

#product_image {
  margin-top: 9rem;
}

/* Product color */
.color-button {
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin: 5px;
  width: 50px;
  gap: 10px;
  transition: transform 0.3s ease-in-out;
}

.color-button:focus {
  /* border: 3px solid #000; */
  box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.25);
}


/* Product sizes */
.size-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.size-button {
  height: 30px;
  padding: 10px;
  line-height: 5px;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
}

.size-button:hover {
  background-color: #bbb;
}

.size-button.selected {
  background-color: #4caf50;
  color: white;
}

/* Loader */
/* .loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fa9c23;
  border-color: #fa9c23 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
/* https://css-loaders.com/spinner/ */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: grey;
}

#delete_cart_item {
  color: red;
  background: white;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: #febd69;
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  margin-top: 2rem;
  border-radius: 5rem;
}

#view_order_details {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

#order_summary {
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}

/* Category field */
.category_field {
  width: 200px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn,
.fetch-btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: black;
  margin-top: 1rem;
}

.fetch-btn:hover {
  background-color: #fa9c23;
  color: black;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}


.username {
  font-size: 0.8rem; /* Thay đổi kích thước chữ tại đây */
}

/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #eeeeee;
}

.active-step {
  background: #fa9c23;
  color: #fff;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #fa9c23;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid #fa9c23;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #fa9c23;
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #eeeeee;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #eeeeee;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #eeeeee;
  margin-right: -1px;
}

/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
}

.user-info h4 {
  font-weight: 800;
  color: grey;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

/* Confirm Order */

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
}

.update-btn,
#create_btn {
  background-color: #fa9c23;
  border-color: #fa9c23;
  color: white;
}

.update-btn:hover {
  color: white;
}

/* Pagination */
.page-item.active .page-link {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

.page-link {
  color: #fa9c23;
}

.page-link:hover {
  color: #fa9c23;
}

/* Products List Admin */
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard */

.admin-child-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.card-font-size {
  font-size: 1.5rem;
}

/* Reviews */

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #fa9c23;
}

.yellow {
  color: #fdcc0d;
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}

.cross-button {
  background-color: #dc3545;
}

#filter_form .row .col {
  padding-left: 5px;
  padding-right: 5px;
}

#filter_form button {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

.filter {
  margin-top: 5.8rem;
}

/* Sidebar */

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group-item {
  border: none;
}

.list-group-item.active {
  background-color: #f3f4f6;
  border-color: #f3f4f6;
  border-radius: 0.3rem;
  color: #fa9c23;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
